<div class="wrapper">
	<div class="actions-wrapper">
		<!-- Chat input -->
		<input id="chat-input" [formControl]="chatMessage" placeholder="Type here..."
			(keyup.enter)="handleSendMessage()" autofocus>

		<!-- Send Message Button -->
		<button mat-mini-fab color="accent" id="send-message-btn" matTooltip="send" (click)="handleSendMessage()">
			<mat-icon>send</mat-icon>
		</button>

		<!-- Trigger Command Button -->
		<button mat-mini-fab color="accent" id="trigger-command-btn" (click)="handleSendCommand()"
			matTooltip="trigger command">
			<mat-icon>assignment</mat-icon>
		</button>
	</div>

</div>