.login-container {
  display: flex;
  justify-content: center;
}

.login-card {
  .form-title {
    text-align: center;
    padding: 3%;
  }

  .login-form {
    padding: 3%;
  }

  #login-btn {
    margin-right: 1%;
  }

  width: 100%;
  margin: 20px;
  border: 2px solid #683ab79c;
  margin-top: 10%;
}

/* Tablets*/
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .login-card {
    width: 70%;
  }
}

/* Desktops */
@media only screen and (min-width: 1024px) and (max-width: 1824px) {
  .login-card {
    width: 25%;
  }
}

/* Large screens */
@media only screen and (min-width: 1824px) {
  .login-card {
    width: 20%;
  }
}
