<div class="wrapper">
	<div class="actions-wrapper">
		<!-- Chat input -->
		<input class="chat-input" [formControl]="chatMessage" placeholder="Type here..." (keyup.enter)="handleSendMessage()" autofocus>

		<!-- Send Message Button -->
		<button mat-mini-fab color="accent" (click)="handleSendMessage()">
			<mat-icon>send</mat-icon>
		</button>

		<!-- Trigger Command Button -->
		<button mat-mini-fab color="accent" (click)="handleSendCommand()">
			<mat-icon>assignment</mat-icon>
		</button>
	</div>

</div>