<div class="message-wrapper" @fadeIn>
	<mat-card class="message-card">

		<mat-card-subtitle class="sender-name">{{author}}</mat-card-subtitle>

		<mat-card-content>
				<p *ngIf="!selectedDay">Please select an appointment day.</p>
				<p *ngIf="selectedDay">{{user}} {{selectedDay}}</p>
				<div fxLayout="row" fxLayoutAlign="start center" >
					<button *ngFor="let day of days" (click)="handleDaySelected(day)" 
						class="day-btn"  mat-stroked-button [disabled]="selectedDay && selectedDay!==day.toString()" color="primary" >
						{{day}}
					</button>
				</div>
		</mat-card-content>
	</mat-card>
</div>

